NEXT_PUBLIC_DATA_SOURCE=firestore
NEXT_PUBLIC_USE_EMULATOR=true
NEXT_PUBLIC_FIREBASE_PROJECT_ID=felipe-semana6
NEXT_PUBLIC_FIREBASE_API_KEY=coloque-a-api-key-publica-aqui
NEXT_PUBLIC_API_URL=http://localhost:8000/api/health/